<ngbox></ngbox>
<h1>ngBox Demonstration</h1>

<h4>Outside Webpage (iframe)</h4>
<a ng-box src="https://www.photoshooter.gr/" title="photoshooter.gr" href=""><img src="http://placehold.it/350x70?text=photoshooter.gr" alt=""></a>

<h4>Group</h4>
<p><img ng-box src="http://placehold.it/350x70?text=Image 1.1" [image]="true" title="Image 1.1" group="group1"></p>
<p><img ng-box src="http://placehold.it/350x70?text=Image 1.2" [image]="true" title="Image 1.2" group="group1"></p>
<p><img ng-box src="http://placehold.it/350x70?text=Image 1.3" [image]="true" title="Image 1.3" group="group1"></p>

<h4>Images</h4>
<p><a href="" ng-box group="group2" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg" [width]="800" [height]="800" title="Big Image">Big Image with max dimensions 800x800</a></p>
<p><a href="" ng-box group="group2" src="https://wallpaperscraft.com/image/line_pair_color_horizontal_47091_3840x1200.jpg" title="Horizontal Image">Horizontal Image</a></p>
<p><a href="" ng-box group="group2" src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Eiffel_Tower_Vertical.JPG" [cache]="true" title="Vertical Image" >Vertical Image (preloaded image)</a></p>
<p><a href="" ng-box group="group2" src="https://www.photoshooter.gr" title="Vertical Image" width="100%" height="100%">Web site with 100% width and height iframe</a></p>

<h4>Videos</h4>
<p><a href="" ng-box group="videos" href="https://www.youtube.com/embed/L3wKzyIN1yk" title="Video Youtube">Youtube.com</a></p>
<p><a href="" ng-box group="videos" src="https://vimeo.com/43338103">Vimeo.com</a></p>

